/*Borrar formato*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
pre,
code,
address,
form,
fieldset,
blockquote {
    padding: 0;
    /*relleno a 0*/
    margin: 0;
    /*margen a 0 */
    font-size: 100%;
    font-weight: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*Etiqueta body. Le damos tamaño 100 vh y ademas creamos un grid para toda la pagina
donde sera de 3 columnas y 4 filas, en 1 fila estara el header, en otra el nav,
en otra el main y en la ultima el footer.*/

body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}


/************************ MAIN************************/


/*Etiqueta main. Se posiciona en las todas las columnas del grid y en la fila 3/4.
Se alinea el texto al centro, se da el margen automatico y se hace un z-index. 
para que funcione correctamente el click del cursor en los input.*/

main {
    grid-column: 1/4;
    grid-row: 3/4;
    text-align: center;
    margin: auto;
    z-index: 0;
    margin-bottom: 3%;
}


/*H2 del main. Se pone en negrita, se aumenta el tamaño y se subraya el h2.*/

main h2 {
    font-weight: bold;
    font-size: 200%;
    text-decoration: underline;
}


/*Parrado del main. Se alinea a la izquierda y se le da margen de arriba.*/

main p {
    text-align: left;
    margin-top: 3%;
}


/*input de crear cuenta. Se pone el elmento en bloque para poder moverlo
 correctamente. Se le da margen de arriba e de izquierda. Se pone un fondo al input
 se le añade un padding para hacer el input de mayor tamaño. Se pone el texto de 
 color blanco, se aumenta la letra del texto y se quita los bordes.*/

.crear {
    display: block;
    margin-top: 4%;
    margin-left: 21%;
    background-color: #767575;
    padding: 1% 3% 1% 3%;
    color: white;
    font-size: 150%;
    border: 0;
}